# Default Configs location where the an
# OpenStudioLandscapes-OpenRV-Builder
# subdirectory will be created:
# - ~/.config/OpenStudioLandscapes
OPENSTUDIOLANDSCAPES_CONFIGS_ROOT=~/.config/OpenStudioLandscapes
# Sensor Status can be one of:
# - STOPPED
# - RUNNING
OPENSTUDIOLANDSCPES_OPENRV_BUILDER__NTFY_SENSOR_STATUS=STOPPED
OPENSTUDIOLANDSCPES_OPENRV_BUILDER__CHECK_FOR_NEW_COMMITS_SENSOR_STATUS=STOPPED
# Sensor interval in hours:
OPENSTUDIOLANDSCPES_OPENRV_BUILDER__CHECK_FOR_NEW_COMMITS_SENSOR_INTERVAL=24
